* {
    font-family: "Bebas Neue", Sans-Serif;
}

html {
    scroll-behavior: smooth;
  }

:root {
    --brand-main: #2D2838;
    --brand-secondary: #f8f9fa;
  }

body {
    background-color: var(--brand-secondary);
    background-image: url(../img/bg.png);
    padding: 0;
    color: var(--brand-main);
}

a {
    color: var(--brand-main);
}


/* Navigation */

.container-fluid {
    padding-left: 0;
}
.navbar-brand {
    background-color: var(--brand-main);
    font-size: 2rem;
    color: var(--brand-secondary) !important;
    padding: 0 1rem 0 2rem;
}

li {
    font-size: 2rem;
}

.nav-item {
    display: flex;
    justify-content: center;
}

.btn {
    font-size: 1.5rem;
}

.navbar-collapse {
     margin-right: 1rem;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-nav .nav-link {
    text-align: center;
}



/* Landing */

.welcome-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: calc(100vh - 64px);
    align-items: center;
    justify-content: space-around;
}

.welcome {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

.welcome h2 {
    font-size: 2.5rem;
}

.welcome h1 {
    display: none;
}

.svg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 90%;
}

.st0 {
    fill: var(--brand-main);
    transition: all 0.1s ease-in-out;
}

.st1 {
    fill:var(--brand-secondary);
    transition: all 0.1s ease-in-out;
}

.dark-mode {
    fill: var(--brand-secondary);
    transition: all 0.1s ease-in-out;
}
.dark-mode-bg {
    background-color: var(--brand-main);
    transition: all 0.1s ease-in-out;
}

.dark-mode-oppo {
    fill: var(--brand-main);
    transition: all 0.1s ease-in-out;
}

/* Contact */

.contact-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: calc(100vh - 64px);
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.contact-info input {
    min-height: 40px;
}

.contact-info label {
    margin-top: 10px;
}

.contact-info textarea {
    height: 40vh;
}

.contact-info h1,
.contact-info input, 
.contact-info label,
.contact-info textarea {
    min-width: 100%;
}

/* About Container */


.about-container {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 64px);
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.about-container {
    text-align: center;
}

.about-pic {
     width: 50%;
     margin: 50px 0 20px;
}

p q {
    font-size: 1.5rem;
    text-decoration: underline;
}

/* Designs & Coding */

.port-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}

.port-example-container {
    min-width: 350px;
    min-height: 350px;
    max-width: 350px;
    max-height: 350px;
    position: relative;
    margin: 5px 0;
    overflow: hidden;
}

.port-btn p {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--brand-main);
    color: var(--brand-secondary);
    z-index: 2;
    padding: 3px 10px 3px 20px;
}

.port-btn img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    transition: all 2s ease-in-out;
}

.port-btn img:hover {
    transform: scale(1.25);
    transition: all 2s ease-in-out;
}

.modal-header {
    padding: 0.5rem 0.5rem;
}

.modal-body {
    overflow: hidden;
    background-image: url(../img/bg.png);
}

.cube {
	width: 30%;
	text-align: center;
	margin: 0 auto;
	height: 700px;
    width: 100%;
	transition: transform 0.5s ease-in-out; 
	transform-style: preserve-3d; 
}

.first, 
.second {
	height: 700px;
    width: 100%;
}

.first{
	transform: translateZ(350px);
}

.second {
	transform: rotateX(-90deg) translateZ(-350px);
    padding: 10px;
    overflow: scroll;
}

.cube-rotate {
	transform: rotateX(90deg);
}

.bolt {
    height: 12px;
}

.flip {
    font-size: 1.2rem;
    text-decoration: underline;
}

.page-img {
    max-width: 100%;
    max-height: 600px;
    -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.5); 
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.5);
}

.code-info-container h1 {
    margin-top: 10px;
    text-decoration: underline;
}

.code-info-container a {
    font-size: 1.2rem;
}

.design-info {
    border-bottom: 2px lightgray solid;
}

.design-info-container p {
    margin-top: 0;
    font-family: sans-serif;
    font-size: 0.6rem;
    text-align: center;
    border-bottom: 2px lightgray solid;
}

.design-info-container img,
.design-info-rest-container img  {
    width: 100%;
}

.design-info-rest-container img {
    margin-bottom: 5px;
}


/* Footer */

footer {
    width: 100%;
    background-color: var(--brand-main);
    display: flex;
    justify-content: center;
    color: var(--brand-secondary);
    margin-bottom: 10px;
}


/* Media Queries */

@media (min-width: 769px) {
    {
   
    }